@model MyFirstCoreMVCApp.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container my-5 py-3">
    <h3>Employee Details</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Employee ID</dt>
        <dd>@Model.Id</dd>
        <dt>Name</dt>
        <dd>@Model.Name</dd>
        <dt>Department</dt>
        <dd>@Model.Department</dd>
        <dt>Skills</dt>
        <dd>@Model.Skills</dd>
        <dt>Address</dt>
        <dd>@Model.Address</dd>
        <dt>Gender</dt>
        <dd>@Model.Gender</dd>
        <dt>Accepted Terms</dt>
        @if (Model.AcceptTerms == true)
        {
            <dd>Yes</dd>
        }
        else
        {
            <dd>No</dd>
        }
    </dl>
    <a asp-action="Index" asp-controller="Employee" class="btn btn-info">Back to List</a>
</div>
